@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0px;
    padding: 0px;
}
.backGround{
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("images/background.jpg");
}
@media(min-width: 600px) {
    .signInDiv{
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("images/background.jpg");
        width: 100%;
    }
    
}
